body, html {
  margin: 0;
  padding: 0;
  height: 100%;
   /* Replace with your desired background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  padding: 50px;
  color: #ffffff; /* Set text color to white or any color that suits your design */
  overflow: auto; /* Make the container scrollable */
  height: 90vh; /* Adjust the height of the container */
}

.btn {
  margin: 5px; /* Adjust margin for buttons */
}

.wrapper {
  background-image: url('/assets/login.png'); /* Use absolute path from the src folder */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.table {
  background-color: #f2f2f2; /* Light grey background color for the entire table */
  width: 100%; /* Ensure the table takes up the full width of its container */
  border-collapse: collapse; /* Collapse borders for better visual appearance */
}

.table th,
.table td {
  border: 1px solid #ddd; /* Add borders to table cells for separation */
  padding: 8px; /* Add padding to improve cell spacing */
}

.table th {
  background-color: #333; /* Dark grey background color for table header */
  color: #fff; /* Set text color for table header */
}

.table td {
  background-color: #fff; /* White background color for table cells */
  color: #333333; /* Set text color for table cells */
}

.btn {
  margin: 5px; /* Adjust margin for buttons */
}
